<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/styleL.css' %}">
	<title>Login</title>
</head>
<body>
	<div class="main-login">
		<div class="left-login">
			<h1>Faça login<br>e tenha acesso ao sistema do NPJ</h1>
			<img src="{% static 'img/uni.png' %}" class="img-login">
		</div>
		<div class="right-login">
			<div class="card-login">
				<h1>LOGIN</h1>
				<div class="textfield">
					<label for="usuario">Usuário</label>
					<input type="text" name="usuario" placeholder="Usuário">
				</div>
				<div class="textfield">
					<label for="senha">Senha</label>
					<input type="password" name="Senha" placeholder="Senha">
				</div>
				<a href="{% url 'legal-home' %}"><button class="btn-login">Login</button> </a>
			</div>
		</div>
	</div>
</body>
</html>