* {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #23232e;
  height: 8vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li{
  letter-spacing: 3px;
  margin-left: 32px;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list{
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

input, select, textarea{
  border-radius: 5px;
}

.cadastro {
  border: 2px solid black;
  line-height: 2.0;
  float: right;
  margin-left: 0.9vh;
  margin-top: 5px;
  margin: 30px;
}

.campo input, input[type="integer"], input[type="currency"], input[type="email"] {
  width: 110px;
  height: 15px;
}

label, p, button, .comentario {
  margin-left: 8px;
}

.container {
  float: left;
  display: flex;
  width: 100vh;
  height: 50vh;
}

